.nav {
  @apply fixed top-0 left-0 w-full h-screen text-foreground bg-background flex flex-col justify-center items-center gap-6;
  transition: all 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  transform-origin: center;
  z-index: 100;
}

.nav-link {
  @apply text-foreground text-2xl font-bold;
  transition: all 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
}

.nav-link:hover {
  font-size: 150%;
  color: #f81ce5;
}

.nav-toggle {
  @apply w-12 h-12;
  z-index: 1000;
}

.nav-toggle__inner {
  @apply flex items-center justify-center relative h-full w-full;
}

.nav-toggle__inner::before,
.nav-toggle__inner::after {
  content: "";
  transition: all 0.22s cubic-bezier(0.215, 0.61, 0.355, 1);
  @apply block bg-foreground absolute h-1 w-8;
}

.nav-toggle__inner::before {
  transform: translateY(5px);
}
.nav-toggle__inner::after {
  transform: translateY(-5px);
}

.active.nav-toggle__inner::before {
  transform: translateY(0) rotate(-45deg);
}

.active.nav-toggle__inner::after {
  transform: translateY(0) rotate(45deg);
}
