/* ./styles/globals.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    color: #010101;
    background-color: #fafafa;
  }

  code {
    color: #f81ce5;
    font-size: 0.9em;
    white-space: pre-wrap;
  }
}

@layer components {
  .inktrap {
    font-size: 23vw;
    line-height: 1;
    font-weight: 800;
    letter-spacing: -0.06em;
    text-align: center;
    text-transform: capitalize;
  }

  @media screen and (min-width: 768px) {
    .inktrap {
      font-size: 8rem;
    }
  }

  @media screen and (min-width: 1280px) {
    .inktrap {
      font-size: 10rem;
    }
  }
}
